<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="baseCode::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <section class="homePage d-flex justify-content-center align-items-center">
        <div class="text-white text-center">
            <h2>Smart Contact Manager</h2>
            <b>
                Start collecting your contacts in very smarter way .
                We provide very efficient and smarter way of handling contacts .
            </b>
        </div>
    </section>
</body>

</html>